/* body {
    background-image: url('./bkg.PNG');
} */

.backgroundImage {
    background-image: url('./bkg.PNG');
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

fieldset {
    display: block;
    position: relative;
}


#todaysDate {
    padding: 1em;
    border-radius: 20px;
    background-color: bisque;
    min-width: 30%;
    max-width: 35%;
}

#todaysDate {
    color: rgb(45, 29, 60);
    font-size: 1em;
    font-family: "Matemasie", sans-serif;
    border: solid;


}

h1 {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    color: rgb(57, 13, 84);
}

p {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    
}

textarea {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

#haunt {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    color: bisque;
    background-color: rgb(119, 86, 153);
    border-radius: 10px;
    max-width: 30%;
}

#navBtn {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    opacity: 100px;
    border: none;
    color: rgb(60, 49, 72);
    width: min-content;
}


button {
    padding: 5px;
    display: block;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    border-radius: 20px;
    background-color: bisque;
    color: rgb(45, 29, 60);
}

#readCP {
    padding: 1em;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    border-radius: 30px;
    background-color: bisque;
    color: rgb(45, 29, 60);
}

#aboutContact{
    padding: 5px;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    background-color: bisque;
}

#aboutContact {
    display: flex;
    justify-content: space-evenly;
}

a{
    color: rgb(73, 37, 85);
}

#daysToGhost {
    display: flex;
    justify-content: left;
}

#timer {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-size: 3em;
    color: rgb(73, 37, 85);
}

#search {
    display: flex;
    justify-content: left;
}

.textBox {
    background-color: rgb(245, 237, 224);
    font-family: "Matemasie", sans-serif;
    min-width: 30%;
}

#pages{
    display: flex;
    justify-content: space-between;
}

.nextBack {
    padding: 1em;
    min-width: 15%;
}

#motion {
    display: flex;
}

#floatingGhosts:hover {
    transition: 2s;
    transform: scale(2); 
}